* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  font-family: Microsoft YaHei;
  background: #000;
  color: #FFF;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

table {
  width: 100%;
  height: 100%;
  font-size: 0.7292vw;

  .tab-tr td {
    text-align: center;
    border-top: 0.0521vw solid #898989;
    border-right: 0.0521vw solid #898989;
    pointer-events: none;
  }

  tr:first-child td {
    height: 11.7593vh;
    border-right: 0.0521vw solid #898989;
    cursor: pointer;
  }

  tr:first-child td:last-child {
    border-right: 0;
  }

  .tab-tr .reset {
    border-right: 0;
  }
}

.hover {
  background-color: rgba($color: #877d5d, $alpha: .5);
}

.selected {
  background-color: rgba($color: #56401D, $alpha: .1);
  position: relative;
  animation: breath 1.5s infinite;
  animation-direction: alternate;

  -webkit-animation: breath 1.5s infinite;
  -webkit-animation-direction: alternate;

  -moz-animation: breath 1.5s infinite;
  -moz-animation-direction: alternate;
}

@keyframes breath {
  0% {
    background-color: rgba($color: #56401D, $alpha: .5);
  }

  100% {
    background-color: rgba($color: #56401D, $alpha: 1);
  }
}

@-webkit-keyframes breath {
  0% {
    background-color: rgba($color: #56401D, $alpha: .5);
  }

  100% {
    background-color: rgba($color: #56401D, $alpha: 1);
  }
}


tr:first-child {
  .selected::before {
    content: " ";
    position: absolute;
    top: -22px;
    width: 22px;
    height: 22px;
    background: url("../images/sj.png") no-repeat center center;
    left: 50%;
    margin-left: -11px;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.ring {
  position: absolute;
  top: 8.8889vh;
  left: 3.75vw;
  width: 15.6771vw;
  font-weight: 400;
  color: #FFF;
  display: inline-block;
  z-index: 1002;

  .ring-title {
    width: 100%;
    height: 5.463vh;
    font-size: 3.125vw;
    line-height: 5.463vh;
  }

  .ring-subtitle {
    width: 100%;
    height: 2.5926vh;
    font-size: 1.3vw;
    line-height: 2.5926vh;
    margin-top: 0.9259vh;
  }

  .ring-desc {
    width: 100%;
    font-size: 0.7292vw;
    color: #898989;
    line-height: 2.4074vh;
    text-indent: 2em;
    margin-top: 2.7778vh;
  }
}

.rotate {
  position: absolute;
  left: 24.0833vw;
  top: 36.4444vh;
  width: 4.7917vw;

  img {
    width: 100%;
  }
}

.detail {
  position: absolute;
  right: 3.75vw;
  top: 11.3889vh;
  width: 21.5104vw;
  font-weight: 400;
  color: #DCDDDD;
  pointer-events: none;
  display: none;
  z-index: 1002;

  .detail-title {
    width: 100%;
    height: 3.9815vh;
    font-size: 2.2917vw;
    font-weight: bold;
    line-height: 4.2593vh;
  }

  .detail-subtitle {
    width: 100%;
    height: 1.2037vh;
    font-size: 0.89vw;
    line-height: 1.0417vw;
    margin-top: 0.8333vh;
  }

  .detail-img {
    width: 100%;
    border: 0.0521vw solid #DCDDDD;
    border-radius: 0.5208vw;
    margin-top: 1.5741vh;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .detail-des {
    width: 100%;
    font-size: 0.8333vw;
    line-height: 2.4074vh;
    margin-top: 1.6667vh;
    text-indent: 2em;
  }
}

.tip {
  position: absolute;
  right: 8.125vw;
  bottom: 40.3704vh;
  width: 12.7604vw;

  img {
    width: 100%;
    display: inline-block;
  }
}

.panel-wrap {
  position: absolute;
  // right: 10.8333vw; //205
  right: 8.125vw;
  bottom: 18.9815vh;
  width: 12.5vw; //240
  height: 22.2222vh;
  background: url('../images/fw.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 1002;
  text-align: center;

  .panel {
    display: inline-block;
    width: 7.8125vw; //150
    height: 13.8889vh;
    border-radius: 1.5625vw;
    background-color: #fff;
    overflow: hidden;
    margin-top: 4.1667vh;
    cursor: url('../images/pointer.png'), auto;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

.btm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 18.5185vh;
  z-index: 1002;
}

.specimen-item {
  text-align: center;

  .specimen-item-title {
    padding: 0 0.2604vw;
    display: inline-block;
    height: 11.1111vh;
    writing-mode: tb-rl;
    overflow: hidden;

    span {
      float: left;
      overflow: hidden;
    }
  }

  .specimen-item-img {
    img {
      height: 2.037vh;
      display: block;
      width: 100%;
    }
  }
}

.period {
  height: 2.6852vh;
  line-height: 2.6852vh;
  text-align: center;
  border-right: 0.0521vw solid #898989;
  box-sizing: border-box;
}

.era {
  height: 2.6852vh;
  line-height: 2.6852vh;
  text-align: center;
  border-top: 0.0521vw solid #898989;
  border-right: 0.0521vw solid #898989;
  box-sizing: border-box;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  cursor: not-allowed;
}

.light {
  position: absolute;
  width: 31.7708vw;
  height: 44.4444vh;
  left: 50vw;
  top: 34vh;
  margin-left: -15.8854vw;
  margin-top: -22.2222vh;
  pointer-events: none;

  img {
    width: 100%;
  }
}

.disabled {
  cursor: not-allowed !important;
}

.kc {
  animation: myfirst 3s infinite;
  animation-direction: alternate;

  /* Safari and Chrome */
  -webkit-animation: myfirst 3s infinite;
  -webkit-animation-direction: alternate;
}

@keyframes myfirst {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes myfirst {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}